In [1]:
import pandas as pd
import numpy as np

In [40]:
dados = pd.read_csv("tempo.csv", sep=';')

In [41]:
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [42]:
dados.tail()

   Aparencia  Temperatura  Umidade       Vento Jogar
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [43]:
dados.shape

(14, 5)

In [44]:
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [45]:
agrupado = dados.groupby(['Temperatura']).size()

In [46]:
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [48]:
agrupado = dados.groupby(['Aparencia']).size()

In [49]:
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [50]:
dados[dados['Aparencia'] == "menos"]

  Aparencia  Temperatura  Umidade       Vento Jogar
6     menos           64     65.0  VERDADEIRO   sim

In [51]:
#dados.loc[dados['Genero'] == 'M', 'Genero'] = "Masculino"
dados.loc[dados['Aparencia'] == 'menos', 'Aparencia'] = "nublado"

In [52]:
dados.head(7)

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim
5     chuva           65     70.0  VERDADEIRO   nao
6   nublado           64     65.0  VERDADEIRO   sim

In [53]:
agrupado = dados.groupby(['Umidade']).size()

In [54]:
agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [55]:
dados[dados['Umidade'] == 200.0]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva           75    200.0   NaN   sim

In [56]:
dados['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [57]:
agrupado = dados.groupby(['Vento']).size()

In [58]:
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [59]:
dados

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6    nublado           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [60]:
dados['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [65]:
mediana = np.median(dados['Temperatura'])
dados.loc[(dados['Temperatura'] > 100), 'Temperatura'] = mediana
dados

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0      NaN       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6    nublado         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0    200.0         NaN   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

In [66]:
mediana

72.75

In [62]:
dados['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [63]:
dados['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [68]:
media = np.mean(dados['Umidade'])
media

89.76923076923077

In [69]:
dados.loc[(dados['Umidade'] > 100), 'Umidade'] = media
dados

   Aparencia  Temperatura    Umidade       Vento Jogar
0        sol         85.0  85.000000       FALSO   nao
1        sol         80.0  90.000000  VERDADEIRO   nao
2    nublado         83.0  86.000000       FALSO   sim
3      chuva         70.0        NaN       FALSO   sim
4      chuva         68.0  80.000000       FALSO   sim
5      chuva         65.0  70.000000  VERDADEIRO   nao
6    nublado         64.0  65.000000  VERDADEIRO   sim
7        sol         73.5  95.000000       FALSO   nao
8        sol         69.0  70.000000       FALSO   sim
9      chuva         75.0  89.769231         NaN   sim
10       sol         75.0  70.000000  VERDADEIRO   sim
11   nublado         72.0  90.000000  VERDADEIRO   sim
12   nublado         81.0  75.000000       FALSO   sim
13     chuva         71.0  91.000000  VERDADEIRO   nao

In [70]:
dados['Umidade'].fillna(media, inplace=True)

In [71]:
dados

   Aparencia  Temperatura    Umidade       Vento Jogar
0        sol         85.0  85.000000       FALSO   nao
1        sol         80.0  90.000000  VERDADEIRO   nao
2    nublado         83.0  86.000000       FALSO   sim
3      chuva         70.0  89.769231       FALSO   sim
4      chuva         68.0  80.000000       FALSO   sim
5      chuva         65.0  70.000000  VERDADEIRO   nao
6    nublado         64.0  65.000000  VERDADEIRO   sim
7        sol         73.5  95.000000       FALSO   nao
8        sol         69.0  70.000000       FALSO   sim
9      chuva         75.0  89.769231         NaN   sim
10       sol         75.0  70.000000  VERDADEIRO   sim
11   nublado         72.0  90.000000  VERDADEIRO   sim
12   nublado         81.0  75.000000       FALSO   sim
13     chuva         71.0  91.000000  VERDADEIRO   nao

In [73]:
dados['Vento'].fillna('VERDADEIRO', inplace=True)
dados

   Aparencia  Temperatura    Umidade       Vento Jogar
0        sol         85.0  85.000000       FALSO   nao
1        sol         80.0  90.000000  VERDADEIRO   nao
2    nublado         83.0  86.000000       FALSO   sim
3      chuva         70.0  89.769231       FALSO   sim
4      chuva         68.0  80.000000       FALSO   sim
5      chuva         65.0  70.000000  VERDADEIRO   nao
6    nublado         64.0  65.000000  VERDADEIRO   sim
7        sol         73.5  95.000000       FALSO   nao
8        sol         69.0  70.000000       FALSO   sim
9      chuva         75.0  89.769231  VERDADEIRO   sim
10       sol         75.0  70.000000  VERDADEIRO   sim
11   nublado         72.0  90.000000  VERDADEIRO   sim
12   nublado         81.0  75.000000       FALSO   sim
13     chuva         71.0  91.000000  VERDADEIRO   nao