In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [73]:
dados = pd.read_csv("Dados_IBGE_Municipios_SP.csv", header=None , encoding="utf8")

In [74]:
dados.head()

                                              0   ...                          12
0  S&atilde;o Paulo | Todos os Munic&iacute;pios  ...                         NaN
1                           Munic&iacute;pio [-]  ...  PIB per capita - R$ [2018]
2                                     Adamantina  ...                    30962.66
3                                         Adolfo  ...                    25867.75
4                                   Agua&iacute;  ...                    28041.03

[5 rows x 13 columns]

In [75]:
dados = dados.drop(0)

In [76]:
dados.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [77]:
dados.shape

(646, 13)

In [78]:
dados.head()

                      0   ...                          12
1   Munic&iacute;pio [-]  ...  PIB per capita - R$ [2018]
2             Adamantina  ...                    30962.66
3                 Adolfo  ...                    25867.75
4           Agua&iacute;  ...                    28041.03
5  &Aacute;guas da Prata  ...                    20683.88

[5 rows x 13 columns]

In [79]:
#df.rename(columns=df.iloc[0])
dados = dados.rename(columns=dados.iloc[0])

In [80]:
dados.head()

    Munic&iacute;pio [-]  ...  PIB per capita - R$ [2018]
1   Munic&iacute;pio [-]  ...  PIB per capita - R$ [2018]
2             Adamantina  ...                    30962.66
3                 Adolfo  ...                    25867.75
4           Agua&iacute;  ...                    28041.03
5  &Aacute;guas da Prata  ...                    20683.88

[5 rows x 13 columns]

In [81]:
dados = dados.drop(1)

In [82]:
dados.head()

             Munic&iacute;pio [-]  ... PIB per capita - R$ [2018]
2                      Adamantina  ...                   30962.66
3                          Adolfo  ...                   25867.75
4                    Agua&iacute;  ...                   28041.03
5           &Aacute;guas da Prata  ...                   20683.88
6  &Aacute;guas de Lind&oacute;ia  ...                   26427.34

[5 rows x 13 columns]

In [83]:
dados.isnull().sum()

Munic&iacute;pio [-]                                                                      0
C&oacute;digo [-]                                                                         0
Gent&iacute;lico [-]                                                                      0
Prefeito [2021]                                                                           0
&Aacute;rea Territorial - km&sup2; [2020]                                                 0
Popula&ccedil;&atilde;o estimada - pessoas [2020]                                         0
Densidade demogr&aacute;fica - hab/km&sup2; [2010]                                        0
Escolariza&ccedil;&atilde;o &lt;span&gt;6 a 14 anos&lt;/span&gt; - % [2010]               0
IDHM &lt;span&gt;&Iacute;ndice de desenvolvimento humano municipal&lt;/span&gt; [2010]    0
Mortalidade infantil - &oacute;bitos por mil nascidos vivos [2017]                        0
Receitas realizadas - R$ (&times;1000) [2017]                                             0
Despesas empenhadas - R$ (&times;1000) [2017]                                             0
PIB per capita - R$ [2018]                                                                0
dtype: int64

In [84]:
dados.columns

Index(['Munic&iacute;pio [-]', 'C&oacute;digo [-]', 'Gent&iacute;lico [-]',
       'Prefeito [2021]', '&Aacute;rea Territorial - km&sup2; [2020]',
       'Popula&ccedil;&atilde;o estimada - pessoas [2020]',
       'Densidade demogr&aacute;fica - hab/km&sup2; [2010]',
       'Escolariza&ccedil;&atilde;o &lt;span&gt;6 a 14 anos&lt;/span&gt; - % [2010]',
       'IDHM &lt;span&gt;&Iacute;ndice de desenvolvimento humano municipal&lt;/span&gt; [2010]',
       'Mortalidade infantil - &oacute;bitos por mil nascidos vivos [2017]',
       'Receitas realizadas - R$ (&times;1000) [2017]',
       'Despesas empenhadas - R$ (&times;1000) [2017]',
       'PIB per capita - R$ [2018]'],
      dtype='object')

In [115]:
dados['Densidade demogr&aacute;fica - hab/km&sup2; [2010]'].sort_values(ascending=False)

189     980.95
547    9736.03
73       97.21
441      96.38
209      95.43
        ...
320      10.27
587      10.24
176      10.09
481      10.00
364      08.01
Name: Densidade demogr&aacute;fica - hab/km&sup2; [2010], Length: 645, dtype: object